<div class="containerBusquedas">
  <div class="container-home container container-home" id="main">
    <div class="row">
      <span class="titulo-blanco col-xs-12"><span class="glyphicon glyphicon-book"></span>Solicitudes</span>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div ng-repeat="solicitud in solicitudes.content" class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div ng-hide="hide" class="mas cursor" ng-click="sumarse(solicitud)">
              <span class="glyphicon glyphicon-plus"></span>
              <spans> Me Sumo</spans>
            </div>
            <div class="col-xs-12 titulo-violeta">{{solicitud.subject}}</div>
            <p class="col-xs-12">Personas interesadas: {{solicitud.totalUsers}}<p>
            <p class="col-xs-12">Puntos por dar clase: {{solicitud.points}}<p>
            <a class="mas cursor" href="#/solicitud/{{solicitud.id}}">
              <span class="glyphicon glyphicon-user"></span>
              <spans>Quiero dar esta clase</spans>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div ng-show="solicitudes.content.length == 0" class="mensajeTextoPlano">No hubo resultados para <span class="resaltadorTextoPlanoAmarillo">{{searcher}}</span></div>
        <div ng-show="solicitudes.content.length == 0" class="panel panel-default">
          <div class="panel-head text-center">
            ¿Desea crear una nueva solicitud?
          </div>
          <div class="panel-body text-center">
            <a class="mas cursor" href="#/solicitud">
              <span class="glyphicon glyphicon-plus xl-icon"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <ul ng-show="solicitudes.content.length < solicitudes.totalElements"
        uib-pagination
        boundary-links="true"
        total-items="solicitudes.totalElements"
        items-per-page="solicitudes.size"
        ng-model="currentPageSolicitud"
        max-size="solicitudes.totalPages"
        class="pagination-md pull-right"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;">
    </ul>

  </div>

  <div class="container" >
    <div class="row">
      <span class="titulo-blanco col-xs-12"><span class="glyphicon glyphicon-book"></span>Clases</span>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div ng-repeat="clase in clases.content" class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div ng-hide="hide" class="mas cursor" ng-click="sumarse(clase)">
              <span class="glyphicon glyphicon-plus"></span>
              <spans>Unirme</spans>
            </div>
            <div class="col-xs-12 titulo-violeta">{{clase.name}}</div>
            <p class="col-xs-12">{{clase.description}}<p>
            <p class="col-xs-12">{{clase.user.firstName}} {{clase.user.lastName}}<p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div ng-show="clases.content.length == 0" class="mensajeTextoPlano">No hubo resultados para <span class="resaltadorTextoPlanoAmarillo">{{searcher}}</span></div>
        <div ng-show="clases.content.length == 0" class="panel panel-default">
          <div class="panel-head text-center">
            ¿Desea crear una nueva clase?
          </div>
          <div class="panel-body text-center">
            <a class="mas cursor" href="#/clases">
              <span class="glyphicon glyphicon-plus xl-icon"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <ul ng-show="clases.content.length < clases.totalElements"
        uib-pagination
        boundary-links="true"
        total-items="clases.totalElements"
        items-per-page="clases.size"
        ng-model="currentPageClase"
        max-size="clases.totalPages"
        class="pagination-md pull-right"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;">
    </ul>

  </div>
</div>
