<div class="containerBusquedas">
  <div class="container-home container container-home" id="main">
    <div class="row">
      <span class="titulo-blanco col-xs-12"><span class="glyphicon glyphicon-book"></span>Clases</span>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div ng-repeat="clase in clases.content" class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body" ng-init="IfICanJoinClase(clase)">
            <div ng-show="clase.sumarse" class="mas cursor" ng-click="sumarseClase(clase)">
              <span class="glyphicon glyphicon-plus"></span>
              <span ng-bind="clase.state.name == 'PROGRAMADA' ? 'Me Sumo' : 'Unirme'"></span>
            </div>
            <div class="col-xs-12 titulo-violeta">{{clase.name}}</div>
            <div class="col-xs-12">Estado: {{clase.state.name}}</div>
            <p class="col-xs-12">{{clase.description}}<p>
            <p class="col-xs-12">Dictada por: <b>{{clase.user.firstName}} {{clase.user.lastName}}</b><p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div ng-show="clases.content.length == 0" class="mensajeTextoPlano">No hubo resultados para <span class="resaltadorTextoPlanoAmarillo">{{searcher}}</span></div>
          <div ng-show="clases.content.length == 0" class="panel panel-default">
            <div class="panel-head text-center">
                ¿Desea crear una nueva clase?
            </div>
            <div class="panel-body text-center">
              <a class="mas cursor" href="#/clases">
                <span class="glyphicon glyphicon-plus xl-icon"></span>
              </a>
            </div>
          </div>
      </div>
    </div>

    <ul ng-show="clases.content.length < clases.totalElements"
        uib-pagination
        boundary-links="true"
        total-items="clases.totalElements"
        items-per-page="clases.size"
        ng-model="currentPage"
        max-size="5"
        class="pagination-md"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;">
    </ul>

  </div>
</div>
