<!--
  Informacion:
  -Cantidad de usuarios conectados a la clase.
  -Video local
  -Chat

  Controles:
  -Control de volumen de mic.
  -Agrandar/achicar video local (sólo para el usuario que está streameando)


  Administracion:
  -Administrar chat.
  -Terminar clase.
  -Empezar clase. (La clase no empieza automaticamente se accede a la cam y mic)

-->


<div class="container dictado-container">
  <div class="row full-height-percent">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="video-container">
          <video id="localVideo"></video>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="controls-container">
          <button class="btn btn-success" ng-show="!claseEnCurso" ng-click="comenzarClase()">COMENZAR</button>
          <button class="btn btn-success" ng-show="claseEnCurso" ng-click="terminarClase()">TERMINAR</button>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="info-streaming-container">
          <div class="tiempo-container">
            <!--Formatear a hh:mm:ss-->
            <p>{{tiempoDeClase}}</p>
          </div>
          <div class="mensajes-container">
            <p><b>Estado: </b>{{estadoClase}}</p>
          </div>
        </div>
      </div>
    </div>

    <!--En mobile esto se oculta y se ve se hace-->
    <div class="col-lg-6 col-md-6 full-height-percent">
      <div class="col-lg-11 col-md-11 full-height-percent">
        <div class="col-lg-12 chat-container full-height-percent">
          <div class="col-lg-12 messages-container">
            <ul class="messages"></ul>
          </div>
          <div class="col-lg-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder=":)">
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-click="enviarMensaje()" type="button">Go!</button>
                </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1"></div>
    </div>
  </div>
</div>
