<div class="hero-unit home text-center">

  <div class="vertical-center">
    <img src="../../images/logo1.png" alt=""/>
    <h2>Compartir es más fácil.</h2>
  </div>
  <h1><p class="element-bottom"><a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a></p>
  </h1>

</div>

<div class="hero-unit streamingact-section">
  <div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
          <h2 class="title-section">TRANSMITIENDO AHORA!</h2>
          <div class="col-md-3 col-xs-12 video-box flip" ng-repeat="stra in streamingActuales">
            <img class="flip-1" src="http://lorempixel.com/350/300/business/{{stra}}" alt=""/>
            <div class="video-box-info flip-2"> PUT INFO IN ME</div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="hero-unit streamingprog-section">
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid">
        <h2 class="title-section">PROGRAMADOS</h2>
        <div class="col-md-3 col-xs-12 video-box flip" ng-repeat="stra in streamingProgramados">
          <img class="flip-1" src="http://lorempixel.com/350/300/people/{{stra}}" alt=""/>
          <div class="video-box-info flip-2"> PUT INFO IN ME </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hero-unit ranksol-section">
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid">
        <h2 class="title-section">RANKING DE SOLICITUDES</h2>
        <div class="col-md-3 col-xs-12 video-box flip" ng-repeat="stra in rankingSolicitudes">
          <img class="flip-1" src="http://lorempixel.com/350/300/city/{{stra}}" alt=""/>
          <div class="video-box-info flip-2"> PUT INFO IN ME </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hero-unit rankusu-section">
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid">
        <h2 class="title-section">RANKING DE USUARIOS</h2>
        <div class="col-md-3 col-xs-12 video-box flip" ng-repeat="stra in rankingSolicitudes">
          <img class="flip-1" src="http://lorempixel.com/350/300/city/{{stra}}" alt=""/>
          <div class="video-box-info flip-2"> PUT INFO IN ME </div>
        </div>
      </div>
    </div>
  </div>
</div>



