<!--
  Informacion:
  -Cantidad de usuarios conectados a la clase.
  -Video remoto
  -Chat

  Controles:
  -Agrandar/achicar video local

-->
<div class="container presenciado-container">
  <div class="row full-height-percent top-buffer">
    <div class="col-lg-8 col-md-8 col-xs-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="video-container" id="videoContainer">
            <div class="video" id="remoteVideo">

            </div>
          </div>
        </div>
      </div>
    </div>

    <!--En mobile esto se oculta y se ve se hace-->
    <div class="col-lg-4 col-md-4 full-height-percent">
      <div class="row full-height-percent">
        <div class="col-lg-11 col-md-11 full-height-percent overflow-hidden ">
          <!--CHAT CONTAINER-->
          <div class="row chat-container full-height-percent animation-chat" ng-class="showChat ? 'animation-show' : 'animation-hide'">
            <div class="col-lg-12 messages-container">
              <ul class="messages"></ul>
            </div>
            <div class="col-lg-12">
              <div class="input-group">
                <input type="text" class="form-control" placeholder=":)">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="enviarMensaje()" type="button">Go!</button>
              </span>
              </div>
            </div>
          </div>

          <!--USUARIOS CONECTADOS CONTAINER-->
          <div class="row full-height-percent animation-chat" ng-class="showUsuariosConectados ? 'animation-show' : 'animation-hide'">
            <h3>USUARIOS CONECTADOS</h3>
            <ul ng-repeat="usuario in usuariosConectados">
              <li>{{usuario.nombre}}</li>
            </ul>
          </div>

          <!--CHAT CONFIGURACION CONTAINER-->
          <div class="row full-height-percent animation-chat" ng-class="showChatConfiguracion ? 'animation-show' : 'animation-hide'">
            <div class="list-group">
              <h3>CONFIGURACIÓN</h3>
              <button type="button" class="list-group-item">Chat</button>
              <button type="button" class="list-group-item">Usuarios</button>
              <button type="button" class="list-group-item">Ayuda</button>
              <button type="button" class="list-group-item">Reportar problema</button>
            </div>
          </div>

        </div>
        <div class="col-lg-1 col-md-1">
          <div class="row">
            <div class="col-lg-12 no-padding margin-top-10">
              <div class="icon-badge-container">
                <button ng-click="abrirChat()" class="btn btn-default btn-lg btn-link" ng-class="showChat ? 'active': ''">
                  <span class="glyphicon glyphicon-comment"></span>
                </button>
                <span class="badge badge-notify">{{cantidadMensajes}}</span>
              </div>
            </div>
            <div class="col-lg-12 no-padding margin-top-10">
              <div class="icon-badge-container">
                <button ng-click="abrirUsuariosConectados()" class="btn btn-default btn-lg btn-link" ng-class="showUsuariosConectados ? 'active': ''">
                  <span class="glyphicon glyphicon-user"></span>
                </button>
                <span class="badge badge-notify">{{cantidadUsuariosConectados}}</span>
              </div>
            </div>
            <div class="col-lg-12 no-padding margin-top-10">
              <button type="button" ng-click="abrirChatConfiguracion()" class="btn btn-default btn-lg btn-link" aria-label="Left Align" ng-class="showChatConfiguracion ? 'active': ''">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
