<!--
  Informacion:
  -Cantidad de usuarios conectados a la clase.
  -Video remoto
  -Chat

  Controles:
  -Agrandar/achicar video local

-->
<div class="container presenciado-container">
  <div class="row full-height-percent top-buffer">

    <span ng-show="!claseFinalizada">
      <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="row video-container" id="videoContainer">
              <div ng-show="claseEnCurso" class="col-lg-12 video" id="remoteVideo">
              </div>
              <div ng-show="!claseEnCurso" class="col-lg-12 clase-finalizada-container">
                <div>
                  {{clase.name}}
                </div>
                <div>
                  <img src="/clase.user.avatar" alt=""/>
                </div>
                <div>
                  por {{clase.user.username}}
                </div>
                <div ng-show="clase.state.id == 1">
                  Est&aacute; programada para el dia {{clase.date | date}}
                </div>
                <div ng-show="clase.state.id == 2">
                  Empezar&aacute; en cualquier momento
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--En mobile esto se oculta y se ve se hace-->
      <div class="col-lg-4 col-md-4 full-height-percent">
        <div class="row full-height-percent">
          <div class="col-lg-11 col-md-11 full-height-percent overflow-hidden ">
            <!--CHAT CONTAINER-->
            <div class="row chat-container full-height-percent animation-chat" ng-class="showChat ? 'animation-show' : 'animation-hide'">
              <div class="col-lg-12 messages-container">
                <ul id="chat" class="messages">
                  <div ng-repeat="message in messages" ng-class="$usuario.username == message.user.name ? 'text-right' : 'text-left'">
                    {{ message.user.name }}:
                    {{ message.data }}
                  </div>
                </ul>
              </div>
              <div class="col-lg-12">
                <form ng-submit="enviarMensaje()">
                  <div class="input-group">
                      <input type="text" class="form-control square-border" ng-model="myMessage" >
                      <span class="input-group-btn">
                        <button class="btn btn-default square-border" type="submit"><span class="glyphicon glyphicon-chevron-right"></span></button>
                      </span>
                  </div>
                </form>
              </div>
            </div>

            <!--USUARIOS CONECTADOS CONTAINER-->
            <div class="row full-height-percent animation-chat" ng-class="showUsuariosConectados ? 'animation-show' : 'animation-hide'">
              <h3>USUARIOS CONECTADOS</h3>
              <ul ng-repeat="usuario in usuariosConectados">
                <li>{{usuario.nombre}}</li>
              </ul>
            </div>

            <!--CHAT CONFIGURACION CONTAINER-->
            <div class="row full-height-percent animation-chat" ng-class="showChatConfiguracion ? 'animation-show' : 'animation-hide'">
              <div class="list-group">
                <h3>CONFIGURACIÓN</h3>
                <button type="button" class="list-group-item">Chat</button>
                <button type="button" class="list-group-item">Usuarios</button>
                <button type="button" class="list-group-item">Ayuda</button>
                <button type="button" class="list-group-item">Reportar problema</button>
              </div>
            </div>

          </div>
          <div class="col-lg-1 col-md-1">
            <div class="row">
              <div class="col-lg-12 no-padding margin-top-10">
                <div class="icon-badge-container">
                  <button ng-click="abrirChat()" class="btn btn-default btn-lg btn-link square-border" ng-class="showChat ? 'active': ''">
                    <span class="glyphicon glyphicon-comment"></span>
                  </button>
                  <span class="badge badge-notify">{{cantidadMensajes}}</span>
                </div>
              </div>
              <div class="col-lg-12 no-padding margin-top-10">
                <div class="icon-badge-container">
                  <button ng-click="abrirUsuariosConectados()" class="btn btn-default btn-lg btn-link square-border" ng-class="showUsuariosConectados ? 'active': ''">
                    <span class="glyphicon glyphicon-user"></span>
                  </button>
                  <span class="badge badge-notify">{{cantidadUsuariosConectados}}</span>
                </div>
              </div>
              <div class="col-lg-12 no-padding margin-top-10">
                <button type="button" ng-click="abrirChatConfiguracion()" class="btn btn-default btn-lg btn-link square-border" aria-label="Left Align" ng-class="showChatConfiguracion ? 'active': ''">
                  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </span>

    <span ng-show="claseFinalizada && !userWasJoined">
      <div class="col-xs-12">
        <div class="resource-not-found">
          <img src="images/logo_brain1.png" alt=""/>
          <div>Esta clase ya ha finalizado.</div>
        </div>
      </div>
    </span>

    <span ng-show="claseFinalizada && userWasJoined">
      <div class="col-xs-12">
        <div class="row clase-finalizada-container">
          <div>
            {{clase.name}}
          </div>
          <div>
            <img src="/clase.user.avatar" alt=""/>
          </div>
          <div>
            por {{clase.user.username}}
          </div>
          <div>
            ¿Qué te pareció la clase?

            <div>
              <a href="javascript:;" ng-click="calificar(1)" ng-mouseover="calificacion = 1" ng-class="calificacion >= 1 ? 'hover' : 'no-hover'"><span class="glyphicon glyphicon-heart"></span></a>
              <a href="javascript:;" ng-click="calificar(2)" ng-mouseover="calificacion = 2" ng-class="calificacion >= 2 ? 'hover' : 'no-hover'"><span class="glyphicon glyphicon-heart"></span></a>
              <a href="javascript:;" ng-click="calificar(3)" ng-mouseover="calificacion = 3" ng-class="calificacion >= 3 ? 'hover' : 'no-hover'"><span class="glyphicon glyphicon-heart"></span></a>
              <a href="javascript:;" ng-click="calificar(4)" ng-mouseover="calificacion = 4" ng-class="calificacion >= 4 ? 'hover' : 'no-hover'"><span class="glyphicon glyphicon-heart"></span></a>
              <a href="javascript:;" ng-click="calificar(5)" ng-mouseover="calificacion = 5" ng-class="calificacion >= 5 ? 'hover' : 'no-hover'"><span class="glyphicon glyphicon-heart"></span></a>

            </div>
          </div>
        </div>
      </div>
    </span>
  </div>

</div>
