<div class="container">
  <div class="row">
    <div class="col-md-12 formulario">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">Crear Clase</div>
        </div>
        <div class="panel-body">

          <h3>Clase: {{solicitud.subject}}</h3>

          <ul>
            <li>Descripcion: <b>{{solicitud.description}}</b></li>
            <li>Usuarios solicitantes: <b>{{solicitud.joinedUsers.length}}</b></li>
          </ul>

          <h3>Programar la clase para el siguiente dia</h3>
          <div custom-form f-name="FormRegistro" submit-action="tomarSolicitud()" class="form-horizontal">
            <div class="form-group">
              <div class="col-xs-12">
                <sc-input-label
                  type="date"
                  not-show-label="true"
                  model="fecha.fechaClass"
                  placeholder="Fecha a realizar"
                  help-msg="Ingrese fecha de la clase, debe ser con un dia de anticipacion"
                  input-name="fechaClass"
                  required="true">
                </sc-input-label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 buttonRegistro">
                <button type="submit" class="btn btn-primary btn-md">Crear Clase</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<!--
<div class="container">
  <div class="row top-buffer">
    <div class="col-xs-12">
      <div ng-show="solicitudIsValid">
        <form action="" ng-submit="tomarSolicitud()">
          <div>
            <label for="fechaInput">Fecha y hora</label>
            <input type="date" id="fechaInput" name="fechaInputDate" ng-model="solicitud.date"/>
          </div>

          <div>
            <label for="textarea">Descripción</label>
            <textarea name="textareaName" id="textarea" cols="30" rows="10"></textarea>
          </div>

          <button class="btn-sc" ng-click="solicitudTomada = true">QUIERO DAR ESTA CLASE!</button>

          <div ng-show="solicitudTomada">
            <button type="submit" class="btn-sc btn-success-sc">CONFIRMAR</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-xs-12" ng-show="!solicitudIsValid && !isMakingRequest">
      <div class="resource-not-found">
        <img src="images/logo_brain1.png" alt=""/>
        <div>Esta solicitud no est&aacute disponible.</div>
      </div>
    </div>
  </div>
</div>






-->
