<div class="containerBusquedas">
  <div class="container-home container container-home" id="main">
    <div class="row">
      <span class="titulo-blanco col-xs-12"><span class="glyphicon glyphicon-book"></span>Solicitudes</span>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div ng-repeat="solicitud in solicitudes | filter:searcher" class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div ng-hide="hide" class="mas cursor" ng-click="sumarse(solicitud)">
                <span class="glyphicon glyphicon-plus"></span>
                <spans> Me Sumo</spans>
              </div>
              <div class="col-xs-12 titulo-violeta">{{solicitud.subject}}</div>
              <p class="col-xs-12">Personas interesadas: {{solicitud.totalUsers}}<p>
              <p class="col-xs-12">Puntos por dar clase: {{solicitud.points}}<p>
              <a class="mas cursor" href="#/solicitud/{{solicitud.id}}">
                <span class="glyphicon glyphicon-user"></span>
                <spans>Quiero dar esta clase</spans>
              </a>
            </div>
          </div>
        </div>
      <div class="col-md-4">
        <div ng-show="(solicitudes | filter:searcher).length == 0" class="mensajeTextoPlano">No hubo resultados para <span class="resaltadorTextoPlanoAmarillo">{{searcher}}</span></div>
          <div ng-show="(solicitudes | filter:searcher).length == 0" class="panel panel-default">
            <div class="panel-head text-center">
                ¿Desea crear una nueva solicitud?
            </div>
            <div class="panel-body text-center">
              <a class="mas cursor" href="#/solicitud">
                <span class="glyphicon glyphicon-plus xl-icon"></span>
              </a>
            </div>
          </div>
      </div>
    </div>
    <div class="footer navbar">
      <div class="pull-left">{{(solicitudes | filter:searcher).length}} Solicitudes encontradas
      </div>
    </div>

    <h1>Todos</h1>
    <h4>{{todos.length}} total {{solicitudesData.totalPages}}</h4>
    <ul>
      <li ng-repeat="todo in filteredTodos">{{todo.text}}</li>
    </ul>

    <ul uib-pagination
        boundary-links="true"
        total-items="solicitudesData.totalPages"
        items-per-page="numPerPage"
        ng-model="currentPage"
        max-size="maxSize"
        class="pagination-lg"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;">
    </ul>
    <!--<uib-pagination-->
      <!--ng-model="currentPage"-->
      <!--total-items="todos.length"-->
      <!--max-size="maxSize"-->
      <!--boundary-links="true">-->
    <!--</uib-pagination>-->


  </div>
</div>
