<!--
Template
http://2.bp.blogspot.com/-SdaTxrvXTZA/VoZuEDWB3MI/AAAAAAAABkY/SfqekINgeSk/s1600/4_UserPanel.png
Informacion
-Clases programadas.
-Clases finalizadas.
-Clases en curso.
-Clases presenciadas.
-Clases faveadas.
-Mensajes.

Acciones
-Ir a modificar datos personales.
-Dictar clase programada.

-->

<div class="container">
  <div class="row top-buffer">
    <div class="col-xs-3">
      <div class="row">
        <div class="col-xs-12 text-center">
          <img src="" alt="">
          <h5>{{usuario.nick}}</h5>
          <h6>{{usuario.firstName}} {{usuario.lastName}}</h6>
        </div>
        <div class="col-xs-12">
          <ul>
            <li>Perfil</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-9 parent-panel-box">
      <div class="row no-margin top-buffer-pad">
        <div ng-show="showMenu" ng-click="showMenu = false; showMenuClasesProgramadas = true" class="col-md-4 top-buffer-less">
            <div class="panel-box text-center">
              <div>
                <span class="glyphicon glyphicon-time xl-icon"></span>
                <p>{{cantidadClasesProgramadas}} Clases programadas</p>
              </div>
            </div>
          </div>

        <div ng-show="showMenu" ng-click="showMenu = false; showMenuClasesFinalizadas = true" class="col-md-4 top-buffer-less">
          <div class="panel-box text-center">
            <div>
              <span class="glyphicon glyphicon-facetime-video xl-icon"></span>
              <p>{{cantidadClasesFinalizadas}} Clases finalizadas</p>
            </div>
          </div>
        </div>

        <div ng-show="showMenu" ng-click="showMenu = false; showMenuClasesPresenciadas = true" class="col-md-4 top-buffer-less">
          <div class="panel-box text-center">
            <div>
              <span class="glyphicon glyphicon-eye-open xl-icon"></span>
              <p>{{cantidadClasesPresenciadas}} Clases presenciadas</p>
            </div>
          </div>
        </div>

        <div ng-show="showMenu" ng-click="showMenu = false; showMenuClasesFavoritas = true" class="col-md-4 top-buffer-less">
          <div class="panel-box text-center xl-icon">
            <div>
              <span class="glyphicon glyphicon-star"></span>
              <p>{{cantidadClasesFavoritas}} Clases favoritas</p>
            </div>
          </div>
        </div>

        <div ng-show="showMenu" ng-click="showMenu = false; showMenuSolicitudesPendientes = true" class="col-md-4 top-buffer-less">
          <div class="panel-box text-center xl-icon">
            <div>
              <span class="glyphicon glyphicon-share"></span>
              <p>{{cantidadSolicitudesPendientes}} Solicitudes Pendientes</p>
            </div>
          </div>
        </div>

        <div ng-show="showMenu" ng-click="showMenu = false; showMenuSolicitudesARealizar = true" class="col-md-4 top-buffer-less">
          <div class="panel-box text-center xl-icon">
            <div>
              <span class="glyphicon glyphicon-check"></span>
              <p>{{cantidadSolicitudesARealizar}} Solicitudes a realizar</p>
            </div>
          </div>
        </div>

        <!--PANELES-->
        <div ng-show="showMenuClasesProgramadas" class="col-xs-12">
          <div class="panel-box-item">
            <div class="title">Clases programadas</div>
            <div class="panel-item" ng-click="goToUrl('/clases/1')">
              <div class="title">Angular Js</div>
              <div>Framework de javascript</div>
              <div>10 de Diciembre a las 18:00 hs</div>
            </div>

            <div class="panel-item">
              <div class="title">Angular Js</div>
              <div>Framework de javascript</div>
              <div>10 de Diciembre a las 18:00 hs</div>
            </div>

            <div class="panel-item">
              <div class="title">Angular Js</div>
              <div>Framework de javascript</div>
              <div>10 de Diciembre a las 18:00 hs</div>
            </div>
          </div>
        </div>

        <div ng-show="showMenuClasesFinalizadas" class="col-xs-12">
          <div class="panel-box-item">
            <div class="title">Clases finalizadas</div>
            <div class="panel-item" ng-click="goToUrl('/clases/1')">
              <div class="title">Angular Js</div>
              <div>Framework de javascript</div>
              <div>10 de Diciembre a las 18:00 hs</div>
            </div>
          </div>
        </div>

        <div ng-show="showMenuClasesPresenciadas" class="col-xs-12">
          <div class="panel-box-item">
            <div class="title">Clases presenciadas</div>
            <div class="panel-item" ng-click="goToUrl('/clases/1')">
              <div class="title">Angular Js</div>
              <div>Framework de javascript</div>
              <div>10 de Diciembre a las 18:00 hs</div>
            </div>
          </div>
        </div>

        <div ng-show="showMenuClasesFavoritas" class="col-xs-12">
          <div class="panel-box-item">
            <div class="title">Clases Favoritas</div>
            <div class="panel-item" ng-click="goToUrl('/clases/1')">
              <div class="title">Angular Js</div>
              <div>Framework de javascript</div>
              <div>10 de Diciembre a las 18:00 hs</div>
            </div>
          </div>
        </div>

        <div ng-show="showMenuSolicitudesPendientes" class="col-xs-12">
          <div class="panel-box-item">
            <div class="title">Solicitudes</div>
            <div class="panel-item" ng-click="goToUrl('/solicitudes/1')">
              <div class="title">Angular Js</div>
              <div>Framework de javascript</div>
              <div>57 personas se sumaron</div>
            </div>
          </div>
        </div>

        <div ng-show="showMenuSolicitudesARealizar" class="col-xs-12">
          <div class="panel-box-item">
            <div class="title">Solicitudes</div>
            <div class="panel-item" ng-click="goToUrl('/solicitudes/1')">
              <div class="title">Angular Js</div>
              <div>Framework de javascript</div>
              <div>57 personas se sumaron</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>






