$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//VARIABLES
$color-error: #F04449;
$color-gris-input: #CCC;
$color-celeste-input: #66AFE9;
$color-nube: #ecf0f1;
$bg-color-gris: #e9ebee;
$verde-global: #59DA5D;
$color-violeta-logo: #51418e;

$break-md: 767px;
$break-lg: 1199px;
$px-height-navbar: 61px;
//FIN DE VARIABLED

body {
  padding: 0;
  background-color: $bg-color-gris;
  font-family: sans-serif
}

.navbar-sc {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dce0e0;
  height: $px-height-navbar;
  position: fixed;
  z-index: 9999;
  border-radius: 0px;
}

.navbar-nav-sc {
  float: right;
  @media screen and (max-width: $break-md) {
    float: none;
  }
  li{
    height: $px-height-navbar;
    line-height: $px-height-navbar;
    a{
      display: block;
    }
  }
}

.container-imyourfather{
  padding-top: $px-height-navbar;
}

.panel{
  border-radius: 0px;
  .panel-heading{
    .panel-title{
      font-size: 20px;
      color: $color-violeta-logo;
    }
    padding: 10px 0 5px 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  font-weight: bold;
  background-color: $verde-global;
}

.container-narrow > hr {
  margin: 30px 0;
}

.navbar-brand-sc{
  padding: 3px;
}

.navbar-brand-sc > img {
  width:50px;
  height:auto;
}

.materialInput{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid $color-gris-input;
  border-radius: 0px;
  box-shadow: none;
    &:focus{
      border-bottom: 3px solid $color-celeste-input;
      box-shadow: none;
    }
}

.materialInputError{
  @extend .materialInput;
  border-color: $color-error;
  &:focus{
    box-shadow: none;
    border-bottom: 3px solid $color-error;
    border-color: $color-error;
  }
}

.textoError{
  color: $color-error;
}

.formulario{
  margin: 25px auto 25px auto;
  padding: 0 25%;
  @media screen and (max-width: $break-lg) {
    padding: 0 15%;
  }
  @media screen and (max-width: $break-md) {
    padding: 0 5%;
  }
}

.buttonRegistro{
  text-align: center;
  padding-top: 35px;
  margin-bottom: -15px;
}

.hero-unit{
  background-size:cover;
  padding:15px 0px;
}

.hero-unit.streamingact-section, .hero-unit.ranksol-section {
  background-color: #EEEEEE;
}

.hero-unit.streamingprog-section, .hero-unit.rankusu-section {
  background-color: $color-violeta-logo;
}

.hero-unit.home {
  background-image:url('../../images/hero1.jpg');
  overflow:hidden;
  height:100vh;
}

.hero-unit h1 {
  color: #ecf0f1;
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 1;
}
.hero-unit h2 {
  font-size: 25px;
  color: #FFFFFF;

}
.fill{width:100%;height:350px;background-position:center;background-size:cover;
}

.video-box{
  float:left;
  min-width:350px;
  min-height:300px;
  max-width:700px;
  max-height:600px;
  padding:0 !important;
}

.video-box > img {
  width: 100%;
  height: auto;
}

.video-box-info{
  height: 100%;
  width: 100%;
}


.video-container video{
  width: 100%;
}

.messages-container{
  height: 90%;
}

.messages-container > ul{
  height: 100%;
  background-color: #DADFE1;
  padding:0;
  margin:0;
}

.dictado-container{
  height:100vh;
}

.volumen{
  max-height: 180px !important;
  overflow: hidden !important;
  margin: 0px !important;
}



//UTILITY CLASSES

/* CSS used here will be applied after bootstrap.css */

.icon-badge-container{

}

.badge-notify{
  background:red;
  position: absolute;
  top: 0;
  right: 0;
}

.full-height-percent{
  height: 100%;
}

.vertical-center {
  margin-top: 20%;
}

.element-bottom {
  position: absolute;
  margin-bottom: 10px;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  text-align: center;
}

.title-section{
  text-shadow: 1px 1px 1px $color-violeta-logo;
  color: black;
}

.flip{
  position: relative;
  transition: all 1s ease;
  transform: perspective(600px);
  transform-origin: 100% 50%;
  transform-style: preserve-3d;
}
.flip:hover{
  transform: perspective(600px) rotateY(-180deg) translateX(100%);
}

.flip .flip-1,
.flip .flip-2{
  position: absolute;
  backface-visibility: hidden;
}
.flip .flip-2{
  transform: rotateY(-180deg);
}

.top-buffer {
  margin-top:20px;
  margin-bottom:20px;
}

.no-padding {
  padding:0;
}
