$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//VARIABLES
$color-error: #F04449;
$color-gris-input: #CCC;
$color-celeste-input: #66AFE9;
$color-nube: #ecf0f1;
//FIN DE VARIABLED

.navbar-sc {

  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #AAA;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.navbar-nav-sc {
  float:right;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  /*
  margin-bottom: 10px;
  */

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
/*  .container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    /*
    margin-bottom: 30px;
    */
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.navbar{
  border: none;
  margin-bottom: 0px;
}

.navbar-brand-sc{
  padding: 3px;
}

.navbar-brand-sc > img {
  width:50px;
  height:auto;
}

.materialInput{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid $color-gris-input;
  border-radius: 0px;
  box-shadow: none;
    &:focus{
      border-bottom: 3px solid $color-celeste-input;
      box-shadow: none;
    }
}

.materialInputError{
  @extend .materialInput;
  border-color: $color-error;
  &:focus{
    box-shadow: none;
    border-bottom: 3px solid $color-error;
    border-color: $color-error;
  }
}

.textoError{
  color: $color-error;
}

.hero-unit{
  background-size:cover;
}

.hero-unit.streamingact-section {
  background-color: #EEEEEE;
}

.hero-unit.streamingprog-section {
  background-color: rgba(155, 89, 182,0.5);
}

.hero-unit.home {
  background-image:url('../../images/hero1.jpg');
  overflow:hidden;
  height:100vh;
}

.hero-unit h1 {
  color: #ecf0f1;
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 1;
}
.hero-unit h2 {
  font-size: 25px;
  color: #FFFFFF;

}
.fill{width:100%;height:350px;background-position:center;background-size:cover;
}

.video-box{
  float:left;
  min-width:350px;
  min-height:300px;
  max-width:700px;
  max-height:600px;
  padding:0 !important;
}

.video-box > img {
  width: 100%;
  height: auto;
}

.video-box-info{
  height: 100%;
  width: 100%;
}



//UTILITY CLASSES

.vertical-center {
  margin-top: 20%;
}

.element-bottom {
  position: absolute;
  margin-bottom: 10px;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  text-align: center;
}

.title-section{
  text-shadow: 1px 1px 1px black;
}

.flip{
  position: relative;
  transition: all 1s ease;
  transform: perspective(600px);
  transform-origin: 100% 50%;
  transform-style: preserve-3d;
}
.flip:hover{
  transform: perspective(600px) rotateY(-180deg) translateX(100%);
}

.flip .flip-1,
.flip .flip-2{
  position: absolute;
  backface-visibility: hidden;
}
.flip .flip-2{
  transform: rotateY(-180deg);
}
