$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//VARIABLES
$blanco: #FFFFFF;
$amarillo: #F4DA17;
$color-error: #F04449;
$color-gris-input: #CCC;
$color-celeste-input: #66AFE9;
$color-nube: #ecf0f1;
$bg-color-gris: #e9ebee;
$rojo-amor: #CE4238;
$color-violeta-logo: #51418e;
$color-violeta-claro: #8E7ADA;

$break-md: 767px;
$break-lg: 1199px;
$px-height-navbar: 61px;
//FIN DE VARIABLES

body {
  padding: 0;
  background-color: $color-violeta-logo;
  font-family: 'Josefin Sans', sans-serif;
}


.cursor{
  cursor: pointer;
}

.mas{
  font-size: 16px;
  display: inline;
  &:hover{
    color: $color-violeta-logo;
  }
}

.navbar-sc {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dce0e0;
  height: $px-height-navbar;
  position: fixed;
  z-index: 9999;
  border-radius: 0px;
}
.navbar-brand{
  padding: 8px !important;
}
.navbar-nav-sc {
  float: right;
  @media screen and (max-width: $break-md) {
    float: none;
  }
  li{
    height: 60px;
    border-right: 1px solid $color-gris-input;
    a{
      padding: 20px !important;
      display: block;
    }
  }
}

.container-imyourfather{
  padding-top: $px-height-navbar;
}

.panel{
  border-radius: 0px;
  .panel-heading{
    .panel-title{
      font-size: 20px;
      color: $color-violeta-logo;
    }
    padding: 10px 0 5px 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  font-weight: bold;
  background-color: $blanco;
}

.container-narrow > hr {
  margin: 30px 0;
}

.navbar-brand-sc{
  padding: 3px;
  margin-left: -10px !important;
}

.navbar-brand-sc > img {
  width:50px;
  height:auto;
}

.materialInput{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid $color-gris-input;
  border-radius: 0px;
  box-shadow: none;
    &:focus{
      border-bottom: 3px solid $color-celeste-input;
      box-shadow: none;
    }
}

.materialInputError{
  @extend .materialInput;
  border-color: $color-error;
  &:focus{
    box-shadow: none;
    border-bottom: 3px solid $color-error;
    border-color: $color-error;
  }
}

.textoError{
  color: $color-error;
}

.formulario{
  min-height: 75.5vh !important;
  margin: 25px auto 25px auto;
  padding: 0 25%;
  @media screen and (max-width: $break-lg) {
    padding: 0 15%;
  }
  @media screen and (max-width: $break-md) {
    padding: 0 5%;
  }
}

.buttonRegistro{
  text-align: center;
  padding-top: 35px;
  margin-bottom: -15px;
}

.hero-unit{
  background-size:cover;
  padding:15px 0px;
}

.hero-unit.home {
  background-image:url('../../images/hero1.jpg');
  overflow:hidden;
  height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -60px;
}

.hero-unit h1 {
  color: #ecf0f1;
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 1;
}
.hero-unit h2 {
  font-size: 25px;
  color: $blanco;

}
.fill{width:100%;height:350px;background-position:center;background-size:cover;
}

.video-box{
  float:left;
  min-width:350px;
  min-height:300px;
  max-width:700px;
  max-height:600px;
  padding:0 !important;
}

.video-box > img {
  width: 100%;
  height: auto;
}

.video-box-info{
  height: 100%;
  width: 100%;
}


.video-container video{
  width: 100%;
}

.messages-container{
  height: 80vh;
}

.messages-container > ul{
  height: 100%;
  background-color: #DADFE1;
  padding:0;
  margin:0;
  overflow-y: scroll;
}

.animation-chat{
  transition: all 1s ease;
  position:absolute;
  padding:inherit;
  width:100%;
}
.animation-chat.animation-show{
  left:0%;
}

.animation-chat.animation-hide{
  left:115%;
}

.dictado-container, .presenciado-container{
  height:100vh;
}


.volumen{
  max-height: 180px !important;
  overflow: hidden !important;
  margin: 0px !important;
}

.volumen > .ngrs-runner {
  height: 150px !important;
}

.panel-box{
  color:white;
  height:150px;
  justify-content: center;
  display:flex;
  align-items:center;
  cursor:pointer;
  -webkit-transition: box-shadow 0.1s linear;
  -moz-transition: box-shadow 0.1s linear;
  -ms-transition: box-shadow 0.1s linear;
  -o-transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;

  p{
    font-size:20px;
  }

  &:hover{
    box-shadow:3px 3px 10px black;
    -webkit-box-shadow: 3px 3px 10px black;
    -moz-box-shadow: 3px 3px 10px black;
  }
}

.col-md-4:nth-of-type(1) > .panel-box{
background-color: #22313F;
}

.col-md-4:nth-of-type(2) > .panel-box{
  background-color: #00B16A;
}

.col-md-4:nth-of-type(3) > .panel-box{
  background-color: #EB9532;
}

.col-md-4:nth-of-type(4) > .panel-box{
  background-color: #22A7F0;
}

.col-md-4:nth-of-type(5) > .panel-box{
  background-color: #D91E18;
}

.col-md-4:nth-of-type(6) > .panel-box{
  background-color: #8E44AD;
}


.parent-panel-box{
  background-color: white;
  background-clip: content-box;

  > .row{
    border:1px solid grey;
    box-shadow: 1px 1px 5px #000000;
  }
}

.panel-item{
  border-bottom: 1px grey solid;
  border-right: 1px grey solid;
  box-shadow: 0px 0px 1px #464646;
  margin: 5px 0px;
  padding: 10px;
  background-color: white;
  cursor:pointer;
  -webkit-transition: transform 0.3s, border 0.3s, box-shadow 0.3s;
  -moz-transition: transform 0.3s, border 0.3s, box-shadow 0.3s;
  -ms-transition: transform 0.3s, border 0.3s, box-shadow 0.3s;
  -o-transition: transform 0.3s, border 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, border 0.3s, box-shadow 0.3s;

  &:hover{
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 10px #51418e;
    border: 1px solid hsl(0, 0%, 65%);
  }
}

.panel-item > div{
  padding:3px 0px;
}

.panel-item > .title {
  font-weight: 800;
  font-size: 1.3em;
}

.panel-box-item > .title{
  text-align: center;
  padding: 10px 0px;
  font-size: 2em;
}

.resource-not-found{
  background-color:white;
  text-align:center;
  padding:30px;

  img{
    width:350px;
  }

  div{
    font-size:2.5em;
    margin-top: 1em;
  }
}

.clase-finalizada-container{
  text-align:center;
  font-size:3em;
  background-color:white;

  img{
    border-radius:10px;
  }

  div{
    margin:20px 0px;
  }

  a{

    &:hover{

    }

  }

  .hover{
    @extend a:hover;

  }

  .no-hover{
    @extend a;

  }


}

//UTILITY CLASSES

/* CSS used here will be applied after bootstrap.css */

.btn-success-sc{
  background-color: $color-gris-input;
}

.btn-sc{
  position: relative;
  vertical-align: top;
  padding: 10px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2980b9;
  border: 0;
  border-bottom: 2px solid #2475ab;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2475ab;
  box-shadow: inset 0 -2px #2475ab;

}

.padding {
  padding:15px;
}

.btn-sc:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.square-border{
  border-radius: 0 !important;
}

.xl-icon{
  font-size: 50px;
}
.icon-badge-container{
}

.transition {
  transition: all 1s ease;
  transform: perspective(600px);
  transform-origin: 100% 50%;
  transform-style: preserve-3d;
}

.badge-notify{
  background:red;
  position: absolute;
  top: 0;
  right: 0;
}

.full-height-percent{
  height: 100%;
}

.vertical-center {
  margin-top: 20%;
}

.element-bottom {
  position: absolute;
  margin-bottom: 10px;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  text-align: center;
}

.title-section{
  text-shadow: 1px 1px 1px $color-violeta-logo;
  color: black;
}

.flip{
  position: relative;
  transition: all 1s ease;
  transform: perspective(600px);
  transform-origin: 100% 50%;
  transform-style: preserve-3d;
}
.flip:hover{
  transform: perspective(600px) rotateY(-180deg) translateX(100%);
}

.flip .flip-1,
.flip .flip-2{
  position: absolute;
  backface-visibility: hidden;
}
.flip .flip-2{
  transform: rotateY(-180deg);
}

.top-buffer {
  margin-top:20px;
  margin-bottom:20px;
}

.top-buffer-less {
  margin-top:10px;
  margin-bottom:10px;
}

.top-buffer-pad {
  padding-top:20px;
  padding-bottom:20px;
}

.no-padding {
  padding:0;
}

.no-margin {
  margin:0;
}

.overflow-hidden{
  overflow:hidden;
}

.margin-top-10 {
  margin-top:10px;
}

.color-red{
  color: red;
}

.color-green{
  color:springgreen;
}

.container-home{
  margin-top: 35px;
  margin-bottom: 10px;
}

.titulo-blanco{
  font-weight: bold;
  color: $blanco;
  font-size: 30px;
}

.titulo-violeta{
  font-weight: bold;
  color: $color-violeta-logo;
  font-size: 25px;
}

.buscador-container{
  padding: 4px 0px 4px 4px;
}

.btn-search-sc{

  background-color: $color-violeta-logo;
  color: $blanco;
  padding-bottom: 5px;
  &:hover{
    border: 1px solid $color-gris-input;
    background-color: $blanco;
    color: $color-violeta-logo;
  }
}

.navbar-collapse{
  padding-right: 0px !important;
}

.containerBusquedas{
  min-height: 77.8vh !important;
}

.containerPanel{
  min-height: 83vh !important;
}

.mensajeTextoPlano{
  color:$blanco;
  font-size: 18px;
}
.resaltadorTextoPlanoAmarillo{
  color: $amarillo;
}
.searchInput{
  width: 254px !important;
  margin-left: 90px !important;
  &:focus{
    border-color: $color-gris-input;
    box-shadow: none;
    outline: none;
  }
}

.sinBordesDerIzq{
  border-right: none !important;
  border-left: none !important;
  &:focus{
    border-color: $color-gris-input;
    box-shadow: none;
    outline: none;
  }
}

.pagination{
  font-weight: bold !important;
}

.sideMenu{
  background-color: white;
}

.panel-primary{
  border-color: #337ab7;
}

.sinBordesFocus{
  &:focus{
    border-color: $color-gris-input;
    box-shadow: none;
    outline: none;
  }
}

.resizeNo{
  resize: none;
}
